<section class="content-auth">
  <div class="middle">
    <div class="container-bag">
      <img src="../../../assets/icons/sacola.png" alt="imagem de sacola" />
    </div>
    <h1>Shoppe</h1>
    <p>Beautiful eCommerce UI Kit for your online store</p>
  </div>
  <div class="footer">
    <button-auth [ariaButton]="'Teste'" [textButton]="'Let`s get started'" />
    <button>
      <span>I already have an account</span>
      <span class="material-symbols-outlined">
        arrow_right_alt
      </span>
    </button>
  </div>
</section>
